body.black {
    background-color:black;
}
input#new-row{

}
#clock{
    font-size:100px;
    background-color:black;

    color:white;
    text-align:center;
}
.fail{
    background-color:red;
}
.success{
    background-color:green;
}
.limbo{
    background-color:grey;
}
td{
    text-align:center;
    font-size:15px;
    font-weight:bold;
    color:black;
}
td.date{
    width:100px;
}
td.cycle, td.day{
    width:50px;
}
td.status:not(table.simple){
    width:200px;
}
div.simple{
  height:600px;
  overflow:auto;
}
table.simple{
    margin: 0px auto;

}

table.simple td{
    height:50px;
    width:50px;
    border:2px black solid;
}
